<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Apprentissage de Vocabulaire</title>
    <style>
        html, body {
            height: 100%;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
            display: flex;
            flex-direction: column;
        }

        header {
            background-color: #2C3E50;
            color: #fff;
            text-align: center;
            padding: 1rem 0;
            border-bottom: 3px solid #2980B9;
        }

        main {
            flex: 1 0 auto;
            margin: 20px auto;
            width: 100%;
            max-width: none;
        }

        section {
            background-color: #fff;
            padding: 20px;
            margin-bottom: 20px;
            margin-left: auto; 
            margin-right: auto; 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            width: auto; 
            max-width: 800px; 
        }

        h2 {
            border-bottom: 2px solid #2980B9;
            padding-bottom: 10px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        label, input[type="text"], input[type="number"], select, button {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        button {
            background-color: #2980B9;
            color: white;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #2C3E50;
        }

        footer {
            background-color: #2C3E50;
            color: #fff;
            text-align: center;
            padding: 1rem 0;
            flex-shrink: 0;
        }
    </style>
</head>
<body>
    <header>
        <h1>Apprenez du Vocabulaire</h1>
    </header>

    <main>
        <section>
            <h2>Mot du Jour</h2>
            <p>Mot actuel : <%= motActuel %></p>
            <form action="/repondre" method="post">
                <div class="form-group">
                    <label for="reponse">Votre Traduction :</label>
                    <input type="text" name="reponse" id="reponse" placeholder="Entrez votre traduction">
                </div>
                <button type="submit">Répondre</button>
            </form>
            <a href="/vocabulaire">Gérer le Vocabulaire</a>
        </section>
    </main>

    <footer>
        <p>Examen Techno Web - Janvier 2023 © Diego de Radigès</p>
    </footer>
</body>
</html>
